body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJElEQVQoU2NkIAIwEqGGgYaKriUI/tda8B7FBhpah823RFkHAJsEBAogNryaAAAAAElFTkSuQmCC);
  background-repeat: repeat;
}
